ul{
    float: right;
    
}
li{
    display: inline;
    padding: 0px 20px 30px 40px;
}
li a{
    text-decoration: none;
   
}
li a:hover{
    
    color: red;
}
ul#nested{
    display: block;
    position: absolute;
}
#nested{
    display: block;
    padding:  20px;
}